

@keyframes float-bob {
    0% {
        transform: translateY(0px); /* Start at original position */
    }
    25% {
        transform: translateY(-10px); /* Move up 10px */
    }
    75% {
        transform: translateY(10px); /* Move up 10px */
    }
    100% {
        transform: translateY(0px); /* Return to original position */
    }
}

.float-bob {
    animation: float-bob 6s ease-in-out infinite; /* 6 seconds, smooth easing, repeats */
}

/* slight delay based  to float out of sync */
.float-bob:nth-child(1) {
    animation-delay: 0.0s;
}
.float-bob:nth-child(2) {
    animation-delay: 0.8s;
}
.float-bob:nth-child(3) {
    animation-delay: 1.6s;
}
.float-bob:nth-child(4) {
    animation-delay: 2.4s;
}
.float-bob:nth-child(5) {
    animation-delay: 3.2s;
}